.secondaryButton {
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    height: 35px;
    width: 115px;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.secondaryButton:hover {
    background-color: #007bff;
    color: white;
}

.dangerButton {
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background 0.25s ease, transform 0.15s ease;
}

.dangerButton:hover {
    background-color: #af5760;
}

.dangerButton:active {
    transform: scale(0.95);
}

.buttonDisabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    border: none;
}

button {
    background-color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: rgb(96, 96, 96);
}


.add-btn-small {
    position: absolute;
    bottom: 12px;
    right: 12px;

    width: 32px;
    height: 32px;
    border-radius: 6px;

    background: #ffffff;
    border: 1px solid #ddd;
    color: #333;

    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, transform 0.1s ease;
}

.add-btn-small:hover {
    background: #f1f1f1;
}

.add-btn-small:active {
    transform: scale(0.95);
}
