.item-page {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    text-shadow: 2px 2px 23px black;
}

.item-image {
    width: 100%;
    border-radius: 12px;
    box-shadow: 15px 12px 6px rgba(0, 0, 0, 0.1);
}

.item-description {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

.buy-btn {
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 8px 5px 6px rgba(0, 0, 0, 0.1);
}

/* .buy-button:hover {
    background-color: #0056b3;
} */