.primary-btn {
    background-color: #222;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.primary-btn:hover {
    background-color: #444;
}

