.primary-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.1s ease;
    font-size: 15px;
}

.primary-btn:hover {
    background-color: rgb(53, 53, 53);
    transform: scale(1.03);
}