.hero {
    /* background-image: url(../images/hero_image.svg); */
    /* background-repeat: no-repeat; */
    /* background-position: right top; */
    /* background: url(../images/hero_image.svg) no-repeat right -455px top 258px; */
    min-height: 953px;
    overflow: hidden;
}

.hero__container {
    position: relative;
}

.hero__inner {
    max-width: 540px;
    padding-bottom: 120px;
    padding-top: 120px;
}

@media screen and (max-width: 768px) {
    .hero__inner {
        margin: 0 auto;
        text-align: center;
    }
}

.hero__illustration {
    position: absolute;
    overflow: hidden;
    top: 25%;
    right: -680px;
    z-index: 2;
}

.hero__illustration > img {
    max-width: 100%;
    margin-bottom: -330px;
}

@media screen and (max-width: 768px) {
    .hero__container {
        padding-top: 10px;
    }

    .hero__illustration {
        display: none;
    }
}