.info {
    min-height: 650px;
    overflow: hidden;
}


.info>.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

@media screen and (max-width: 768px) {
    .info {
        margin-top: -125px;
        min-height: 1053px;
    }

    .info>.container {
        flex-direction: column;
        align-items: center;
    }
}



.info__container {
    position: relative;
}

.info__inner {
    width: 540px;
    padding-top: 25px;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .info__inner {
        margin: 0 auto;
        text-align: center;
    }
}


.info__illustration {
    position: absolute;
    overflow: hidden;
    top: 5%;
    right: -75px;
    z-index: 2;

    /*    Просто позначаємо  межі зображення*/
    /* border: 2; 
    border-color: red;
    border-style: dashed; */
}

.info__illustration>img {
    max-width: 100%;
}


@media screen and (max-width: 768px) {
    .info__container {
        padding-top: 10px;
    }

    .info__illustration {
        top: 95%;
        align-items: center;
        position: relative;
        margin: 0 auto;
    }

    .info__illustration>img {
        max-width: 80%;
    }
}






@media screen and (min-width: 1930px) and (max-width: 2560px) {
    .info__container {
        max-width: 1600px;
        margin: 0 auto;
    }

    .info__inner {
        width: 800px;
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .title {
        font-size: 48px;
    }

    .paragraph1 {
        font-size: 20px;
    }

    .info__illustration > img {
        max-width: 900px;
    }
}
