<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landie</title>

    <!-- Robot fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">

    <!-- My styles -->
    <link rel="stylesheet" href="../static/proba_style.css">

    <!-- Social medias -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>

<body>
    <section class="hero">
        <div class="container">
            <header class="header">
                <div class="header__title">Landie</div>
                <div class="header__menu" onclick="toggleMenu()">
                    <img src="../images/menu_icon.svg" alt="Menu icon">
                </div>
                <nav id="nav-links" class="header__nav">
                    <ul>
                        <li class="header__nav-item"><a href="">Home</a></li>
                        <li class="header__nav-item"><a href="">About</a></li>
                        <li class="header__nav-item"><a href="">Price</a></li>
                    </ul>
                </nav>
                <button class="header__learn_more">Learn More</button>
                <button class="header__buy_now">Buy Now</button>
            </header>
        </div>


        <div class="container hero__container">
            <div class="hero__inner">
                <h1 class="title">Introduce Your Product Quickly & Effectively</h1>
                <p class="paragraph1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>

                <div class="hero__features">
                    <div class="text">
                        <div class="hero__feature_header">
                            <img src="../images/istockphoto-1475296264-612x612.ico" alt="icon">
                            <h5 class="inner_title">Title Goes Here</h5>
                        </div>
                        <p class="paragraph2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula
                            eget dolor. </p>
                    </div>
                    <div class="text">
                        <div class="feature_header">
                            <img src="../images/istockphoto-1475296264-612x612.ico" alt="icon">
                            <h5 class="inner_title">Title Goes Here</h5>
                        </div>
                        <p class="paragraph2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula
                            eget dolor. </p>
                    </div>
                </div>
            </div>
            <div class="hero__illustration">
                <img src="../images/hero_image.svg" alt="Hero image" />
            </div>
        </div>
    </section>


    <section class="info">
        <div class="container info__container">
            <div class="info__inner">
                <h1 class="title">Light, Fast & Powerful</h1>
                <p class="paragraph1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget
                    dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                    felis,
                    ultricies nec,
                    pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>

            <div class="features">
                <div class="text">
                    <div class="feature_header">
                        <img src="../images/istockphoto-1475296264-612x612.ico" alt="icon">
                        <h5 class="inner_title">Title Goes Here</h5>
                    </div>
                    <p class="paragraph2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula
                        eget dolor. </p>
                </div>
                <div class="text">
                    <div class="feature_header">
                        <img src="../images/istockphoto-1475296264-612x612.ico" alt="icon">
                        <h5 class="inner_title">Title Goes Here</h5>
                    </div>
                    <p class="paragraph2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula
                        eget dolor. </p>
                </div>
            </div>
            <div class="info__illustration">
                <img src="../images/info_image.svg" alt="Hero image" />
            </div>
        </div>
    </section>



    <section class="price">
        <div class="container">
            <div class="price__inner">
                <h1 class="title">A Price To Suit Everyone</h1>
                <p class="title_paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus </p>
            </div>
        </div>

        <div class="container">
            <div class="packages">
                <div class="package">
                    <h1 class="price_titles">FREE</h1>
                    <h3 class="price_inner_title">UI Kit Demo</h3>
                    <p class="price_paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
                    <button class="default_button">Purchase Now</button>
                </div>
                <div class="package">
                    <h1 class="price_titles">$40</h1>
                    <h3 class="price_inner_title">Design Kit</h3>
                    <p class="price_paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
                    <button class="default_button">Purchase Design Kit</button>
                </div>
                <div class="package">
                    <h1 class="price_titles">$75</h1>
                    <h3 class="price_inner_title">Design & Code Package</h3>
                    <p class="price_paragraph">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                        ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
                    <button class="default_button">Purchase Package</button>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="end">
        <div>
            <footer>
                <p class="copy_mark">©2020 LPNU</p>
                <div class="footer_title">Landie</div>
            </footer>
            <footer>
                <hr class='line'>
            </footer>
            <footer>
                <button class="iot_but">IoT edition</button>
            </footer>
            <footer>
                <nav class="footer__nav">
                    <ul>
                        <li class="footer__nav-item"><a href="">Home</a></li>
                        <li class="footer__nav-item"><a href="">About</a></li>
                        <li class="footer__nav-item"><a href="">Contact</a></li>
                    </ul>
                </nav>
            </footer>
        </div>
        <footer>
            <div class="footer-socials">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
    </section>

    <script>
        const OPEN_CLASSNAME = "open";

        const navLinks = document.getElementById("nav-links");

        function toggleMenu() {
            navLinks.classList.toggle(OPEN_CLASSNAME);
        }
    </script>
</body>

</html>